In [2]:
from tools.utils import _dump_one_hot
_dump_one_hot('GAIA')

In [3]:
_dump_one_hot('OGLE')

In [4]:
import pandas as pd
pd.read_csv('/Users/mingyu/Desktop/data/dsf/dsf_11.csv')

/Users/mingyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         PERMNO      date SICCD      PRC        RET    CFACPR
0         11000  19861230   NaN      NaN        NaN       NaN
1         11000  19870102  2830  16.7500          C  2.315874
2         11000  19870105  2830  16.7500   0.000000  2.315874
3         11000  19870106  2830  17.5000   0.044776  2.315874
4         11000  19870107  2830  18.2500   0.042857  2.315874
...         ...       ...   ...      ...        ...       ...
2289646   11999  20150618  1099   0.4524   0.038806  1.000000
2289647   11999  20150619  1099   0.4300  -0.049514  1.000000
2289648   11999  20150622  1099   0.3878  -0.098140  1.000000
2289649   11999  20150623  1099   0.3800  -0.020113  1.000000
2289650   11999  20150624  1099   0.3587  -0.056053  1.000000

[2289651 rows x 6 columns]