In [1]:
import timesynth as ts
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import pandas as pd
pd.read_csv('/Users/mingyu/Desktop/34e9e4a8eef5b19d.csv')

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,ajex,curcd,bkvlps,cshfd,epsfx,costat,sic
0,1000,19751231,1975.0,INDL,C,D,STD,AE.2,1.0,USD,4.8808,2.695,0.91,I,3089
1,1000,19761231,1976.0,INDL,C,D,STD,AE.2,1.0,USD,7.1024,2.484,1.38,I,3089
2,1000,19771231,1977.0,INDL,C,D,STD,AE.2,1.0,USD,7.1321,2.495,0.79,I,3089
3,1001,19781231,1978.0,INDL,C,D,STD,AMFD.,1.0,USD,NaN,NaN,NaN,I,5812
4,1001,19791231,1979.0,INDL,C,D,STD,AMFD.,1.0,USD,NaN,NaN,NaN,I,5812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405512,330942,20191231,2019.0,INDL,C,D,STD,BBUS,1.0,USD,NaN,NaN,NaN,A,6722
405513,331856,20181231,2018.0,INDL,C,D,STD,IMUX,1.0,USD,NaN,NaN,NaN,A,2836
405514,331856,20191231,2019.0,INDL,C,D,STD,IMUX,1.0,USD,5.4316,7.722,-4.52,A,2836
405515,332115,20181231,2018.0,INDL,C,D,STD,ARMP,1.0,USD,NaN,NaN,NaN,A,2836
405516,332115,20191231,2019.0,INDL,C,D,STD,ARMP,1.0,USD,1.4706,8.010,-2.55,A,2836

In [6]:
import pandas as pd
pd.read_csv('/Users/mingyu/Desktop/4cdb18f10fa93eb0.csv')

          PERMNO      date        PRC        RET  CFACPR
0          10000  19860106        NaN        NaN     NaN
1          10000  19860107   -2.56250          C     1.0
2          10000  19860108   -2.50000  -0.024390     1.0
3          10000  19860109   -2.50000   0.000000     1.0
4          10000  19860110   -2.50000   0.000000     1.0
...          ...       ...        ...        ...     ...
82834237   93436  20191224  425.25000   0.014384     1.0
82834238   93436  20191226  430.94000   0.013380     1.0
82834239   93436  20191227  430.38000  -0.001299     1.0
82834240   93436  20191230  414.70001  -0.036433     1.0
82834241   93436  20191231  418.32999   0.008753     1.0

[82834242 rows x 5 columns]

In [2]:
from tools.run_synth import run_car, run_sin
run_sin()

In [ ]:
def generate_synth(dataset, params):
    pass

In [22]:
next(os.walk('/Users/mingyu/Desktop/synthesis/sin'))[1]

['freq=0.1',
 'freq=0.8',
 'amplitude=5',
 'amplitude=2',
 'noise=white-noise_sigma=0.5',
 'noise=red-noise_std=0.5_tau=0.8',
 'noise=white-noise_sigma=0.05',
 'num_point=2000',
 'num_point=1500',
 'amplitude=0.5',
 'freq=1',
 'noise=red-noise_std=0.5_tau=1',
 'freq=0.5',
 'noise=red-noise_std=0.1_tau=0.8',
 'num_point=1000',
 'noise=red-noise_std=0.5_tau=0.4',
 'noise=red-noise_std=0.2_tau=0.8',
 'noise=white-noise_sigma=0.1',
 'base']