In [1]:
import timesynth as ts
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import pandas as pd
pd.read_csv('/Users/mingyu/Desktop/34e9e4a8eef5b19d.csv')

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,ajex,curcd,bkvlps,cshfd,epsfx,costat,sic
0,1000,19751231,1975.0,INDL,C,D,STD,AE.2,1.0,USD,4.8808,2.695,0.91,I,3089
1,1000,19761231,1976.0,INDL,C,D,STD,AE.2,1.0,USD,7.1024,2.484,1.38,I,3089
2,1000,19771231,1977.0,INDL,C,D,STD,AE.2,1.0,USD,7.1321,2.495,0.79,I,3089
3,1001,19781231,1978.0,INDL,C,D,STD,AMFD.,1.0,USD,NaN,NaN,NaN,I,5812
4,1001,19791231,1979.0,INDL,C,D,STD,AMFD.,1.0,USD,NaN,NaN,NaN,I,5812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405512,330942,20191231,2019.0,INDL,C,D,STD,BBUS,1.0,USD,NaN,NaN,NaN,A,6722
405513,331856,20181231,2018.0,INDL,C,D,STD,IMUX,1.0,USD,NaN,NaN,NaN,A,2836
405514,331856,20191231,2019.0,INDL,C,D,STD,IMUX,1.0,USD,5.4316,7.722,-4.52,A,2836
405515,332115,20181231,2018.0,INDL,C,D,STD,ARMP,1.0,USD,NaN,NaN,NaN,A,2836
405516,332115,20191231,2019.0,INDL,C,D,STD,ARMP,1.0,USD,1.4706,8.010,-2.55,A,2836

In [1]:
a = [1, 2, 3, 4]
b = a.copy()
b.append(4)

In [26]:
def run_sin(**kwargs):
    print(len(kwargs.items()))

In [1]:
from tools.run_synth import run_sin, run_gp, run_car

In [ ]:
run_gp()