In [6]:
from tools.data_tools import data_loader
x, y = data_loader('MACHO', 'evalu')

2020-07-20 19:42:40.540889 Loading MACHO evalu set

In [10]:
sum([_ == ['RRL'] for _ in y])

122

In [11]:
bool(0)

False

In [18]:
def lr_scheduler(epoch, lr):
    decay_rate = 0.1
    decay_step = 90
    if epoch % decay_step == 0 and epoch:
        return lr * decay_rate
    return lr

In [17]:
lr_scheduler()

0.05

In [85]:
from sklearn.model_selection._split import StratifiedKFold
from tools.data_tools import load_catalog
from tools.data_tools import load_one_hot
from tools.data_tools import load_xy
import numpy as np
from tools.data_tools import fold_generator
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=0)

In [109]:
from tools.utils import load_fold
load_fold('MACHO', '0')['train']

     Class     N                            Path Band
0       Be   431     LCs/lc_24_2854_92_B_mjd.dat    B
1       Be  1036  LCs/lc_207_16483_111_B_mjd.dat    B
2       Be   351     LCs/lc_55_3729_71_B_mjd.dat    B
3       Be   342     LCs/lc_55_3367_61_B_mjd.dat    B
4       Be  1056  LCs/lc_212_15790_340_B_mjd.dat    B
...    ...   ...                             ...  ...
2095   RRL  1121    LCs/lc_2_5390_1120_B_mjd.dat    B
2096   RRL  1074     LCs/lc_2_4786_503_B_mjd.dat    B
2097   RRL   917    LCs/lc_1_3444_1268_B_mjd.dat    B
2098   RRL  1241    LCs/lc_1_3813_1066_B_mjd.dat    B
2099   RRL  1198    LCs/lc_1_4411_1898_B_mjd.dat    B

[1890 rows x 4 columns]

In [113]:
load_fold('MACHO', '0')

dict_keys(['train', 'valid'])